{% extends "journal/secondary_header.html"%}

{% block content %}
    <h1>Log in</h1>
    <form class="site-form" action="{%url 'accounts:login'%}" method="post">
        {% csrf_token %}
        {{form}}
        {% if request.GET.next %}
          <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="Login">
      <div>
        <p>If you do not have an account you can signup below!</p>
        <a class="btn btn-primary" href="/accounts/signup" role="button">Signup</a>
        </div>

    </form>
{% endblock %}
