{% extends "journal/header.html"%}

{% block content %}
<div class="container">


    <div class="create-party">
      <h2>Create a character here</h2>
      <p class="lead">Enter the details of your charcters to and add them to your
      party</p>
      <form class="site-form" action="{% url 'core:createcharacter' %}" method="post">
        {% csrf_token %}
        <p class="lead">What's your name</p>
        {{ form.name }}
        <p class="lead">What's your class (Note the non-starter classes are called
          by their icons to remain spoiler free)</p>
        {{ form.character_class}}
        <p class="lead">How much xp do you have?</p>
        {{ form.experience }}
        <p class="lead">What's your Level?</p>
        {{ form.level  }}
        <p class="lead">How much gold do you have?</p>
        {{ form.gold }}
        <p class="lead">What items do you have?</p>
        {{ form.items }}
        <p class="lead">What perks have you achieved to get?</p>
        {{ form.perks }}
        <p class="lead">What is your party?</p>
        {{ form.party }}
      </div>
        <button type="submit" class="btn btn-dark">Create</button>
      </form>
    </div>
{% endblock %}
