{% extends "journal/secondary_header.html"%}

{% block content %}
  <h1>Your Parties:</h1>
  <div class="user_partys">
    {% for party in user_partys %}
      <div class="party">
            <h2><a href="">{{party.name}}</a></h2>
            <p>Prosperity: {{party.prosperity}}</p>
            <p>Reputation: {{party.reputation}}</p>

            <h4>Characters in party:</h4>
            {% for character in all_characters %}
              <p>{{character.name}}</p>
            {% endfor %}
     {% endfor %}

      </div>
  </div>
{% endblock %}
