{% extends "journal/secondary_header.html"%}

{% block content %}
<div class="container">
  <h1 class="display-1"></h1>
    <div class="party_detail">
      <h2>Characters in {{party}}</h2>
      {% for character in characters %}
      <div class="container">

        <p class="lead">Name:  {{character.name}}</p>
        <p class="lead">Class: {{character.character_class}}</p>
        <p>pk: {{character.pk}}</p>
                <br>

      </div>
      {% endfor %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Character</h5>
            <p class="card-text">Create a new character for this party here</p>
            <a href="{% url 'core:createcharacter' %}" class="btn btn-primary">Create Character</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
